body {
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: medium;
    background: linear-gradient(rgb(159, 152, 152), rgb(19, 159, 210));
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head-img {
    width: 300px;
    border-radius: 30%;
    border: 1px solid rgb(192, 212, 255);
}

h1, h2, h3, h4 p {
    text-shadow: 0px 15px 15px black;
}

#bday-age {
    background: #864a61;
    padding: 10px;
    border-radius: 15px;
    margin: 25px 0 10px 0;
}

#bday-date {
    margin: 10px;
    background: #402a93;
    padding: 10px;
    border-radius: 45px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 20px;
}

.gift-title {
    margin-bottom: 30px;
}

.gift-hint {
    margin-top: 100px;
}

.gift-img {
    margin: 10 auto;
    width: 350px;
    height: 300px;
    border: 2px solid white;
    border-radius: 5px;
    background-image: url('images/gift_wrapping.jpg');
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url('images/happy.jpg');
}

#gift-img-cat:hover {
    background-image: url('images/cat.jpg');
}

#gift-img-skull:hover {
    background-image: url('images/skull.bmp');
}

#gift-img-staring:hover {
    background-image: url('images/staring.bmp');
}

#gift-img-cheers:hover {
    background-image: url('images/cheers.jpg');
}

#gift-img-cheers {
    height: 200px;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: rgb(195, 255, 0);
}