body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: rgba(90, 86, 85, 0.408);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head-img {
    width:300px;
    border-radius: 20%;
    border: 3px solid rgb(192, 212, 255);
}

h1, h2, h3, h4 p {
    text-shadow: 0px 10px 15px black;
}

#bday-age {
    background: #a01047;
    padding: 10px;
    border-radius: 15px;
    margin: 25px 0 10px 0;
}

#bday-date {
    margin: 10px;
    background: #EFB0C9;
    padding: 10px;
    border-radius: 45px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 20px;
}

.gift-title {
    margin-bottom: 5px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 10 auto;
    width: 350px;
    height: 300px;
    border: 2px solid white;
    border-radius: 5px;
    background-image: url('images/gift_wrapping.jpg');
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url('images/happy.jpg');
}

#gift-img-cat:hover {
    background-image: url('images/cat.jpg');
}

#gift-img-skull:hover {
    background-image: url('images/skull.bmp');
}

#gift-img-staring:hover {
    background-image: url('images/staring.bmp');
}

#gift-img-cheers:hover {
    background-image: url('images/cheers.jpg');
}

#gift-img-cheers {
    height: 200px;
}

