body {
    margin: 0;
    color: 585D67;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/starshine.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
    color: 585D67;
    font-weight: 800;
}

.underline {
    border-bottom: 8px solid orange; 
}

#title {
    text-shadow: 0px 0px 4px greenyellow;
}